**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/*.user
**/*.suo
**/node_modules
**/npm-debug.log
**/.env
**/.env.*
!**/.env.example
**/docker-compose*.yml
**/*.md
**/Dockerfile*
**/.dockerignore
