apiVersion: v1
kind: Service
metadata:
  name: apigateway-service
  namespace: microservices-demo
spec:
  selector:
    app: apigateway
  ports:
    - port: 5000
      targetPort: 5000
      nodePort: 30000
  type: NodePort
