apiVersion: v1
kind: Service
metadata:
  name: productservice-service
  namespace: microservices-demo
spec:
  selector:
    app: productservice
  ports:
    - port: 5002
      targetPort: 5002
  type: ClusterIP
